<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>鼠标原始数据下载</title>
    @*<link href="~/Scripts/mainShow/css/css0.css" rel="stylesheet" />*@
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Scripts/layui_ext/dtree/dtree.css" rel="stylesheet" />
    <link href="~/Scripts/layui_ext/dtree/font/dtreefont.css" rel="stylesheet" />
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/echarts.min5.js"></script>
    <script src="~/Scripts/public.js"></script>
    <script src="~/Scripts/layui/xm-select.js"></script>
    <style>
        .layui-form-select dl {
            z-index: 9999;
        }
       
        .showAppDiv {
            height: 40px;
            color: white;
            line-height: 40px;
            border-bottom: 1px dotted #575353;
        }

            .showAppDiv span {
                color: #a4a4a4;
            }

        #selectUserTree_select_input_id {
            background-color: #E8E8E8;
        }

        .dtree-select-show {
            background-color: #E8E8E8;
        }
    </style>
</head>
<body>
    <div class="layui-container" style="background-color:#ffffff;width:inherit;height:inherit;" >
        <blockquote class="layui-elem-quote layui-form searchDivStyle" style="height:35px; text-align:right">  
            <div class="layui-form-item" style="height:35px;width:auto;right:1px;text-align:left">
                <label class="layui-form-label" style="width:80px;">筛选条件：</label>
                <div class="layui-input-inline" style="width:500px;text-align:left;z-index:999999">
                    <ul id="selectUserTree" class="dtree" data-id="0" style="background-color:#E8E8E8;"></ul>
                </div>
                <label class="layui-form-label" style="width:60px;">时间段：</label>
                <div class="layui-input-inline" style="width:200px;">
                    <input type="text" class="layui-input" id="txtDateTimeArea" style="background-color:#E8E8E8">
                </div>
                <div type="button" id="btnSearch" class="layui-btn layui-btn-normal">查询</div>
            </div>
        </blockquote>
        <table class="layui-hide" id="mainTable" lay-filter="mainTable"></table>
            <!--这里是配置表格end-->
            <!--这里保持预留项目的begin-->
            <form id="form1" runat="server">
                <div>
                </div>
            </form>
    </div>
</body>
</html>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-normal layui-btn-sm" onclick="exportMethod()">导出</button>
    </div>
</script>
<script>
    var gridColumnArray = [ //表头
        , { field: 'id', title: '序号', width: 150, hide: true }
        , { field: 'userId', title: '用户ID', width: 150, hide: false }
        , { field: 'userName', title: '用户名称', width: 150 }
        , { field: 'cpuId', title: 'CpuID', width: 200, hide: false }      
        , { field: 'postName', title: '职位名称', width: 150, hide: false }
        , { field: 'MachineName', title: '计算机名称', width: 200 }
        , { field: 'appName', title: 'App名称', width: 200 }
        , { field: 'x', title: '点击X坐标位置', width: 150 }
        , { field: 'y', title: '点击Y坐标位置', width: 150 }

        , { field: 'windowTitle', title: '窗体名称', width: 200, hide: false }
        , { field: 'usedSeconds', title: '所用时间', width: 100 }
        , { field: 'createDate', title: '发生时间', width: 200, hide: false }
        , { field: 'uuid', title: 'UUID', width: 200 }
    ];
    var layer, form, table, $, laydate;
    layui.use(['layer', 'form', 'table', 'laydate'], function () {
        layer = layui.layer;
        form = layui.form;
        table = layui.table;
        laydate = layui.laydate;
        $ = layui.$;
        //select 事件
        //这里进行装载数据
        initForm();
    });

    //这里初始化界面
    function initForm() {
        form.render(); //刷新select选择框渲染
        initGrid();
        //这里渲染table
       // window.setTimeout(searchDb, 300);//延迟一下进行装载
    }
    //让grid先显示一下
    function initGrid() {
        table.render({
            elem: '#mainTable'
            , toolbar: "#toolbarDemo"
            , height: 'full-100'
            , data: []
            , page: true //开启分页
            , limits: [15, 30, 50, 100]
            , limit: 15 //每页默认显示的数量
            , cols: [gridColumnArray]
        });
    }

    var public_color_array = ["#27D08A", "#3092FF", "#27D08A", "#e3e31f", "#ff7400", ""];
    $(window).load(function () {
        $(".loading").fadeOut()
    });
    $(document).ready(function () {
        var whei = $(window).width();
        $("html").css({
            fontSize: whei / 20
        });
        $(window).resize(function () {
            var whei = $(window).width();
            $("html").css({
                fontSize: whei / 20
            })
        });
    });

    var layer, laydate;
    var chart1, chart2, chart3, chart4, chart5, chart6;
    var select_userInfo;
    var dtree;
    layui.extend({
        dtree: '../Scripts/layui_ext/dtree/dtree'   // {/}的意思即代表采用自有路径，即不跟随 base 路径
    }).use(['layer', 'laydate', 'dtree'], function () {
        layer = layui.layer;
        laydate = layui.laydate;
        dtree = layui.dtree

        $("body").on("click", function (event) {
            $("div[dtree-id][dtree-select]").removeClass("layui-form-selected");
            $("div[dtree-id][dtree-card]").removeClass("dtree-select-show layui-anim layui-anim-upbit");
        });

        //执行一个laydate实例
        var lastDate = getCurrentAddDayYMD(-7);
        var curDate = getCurrentAddDayYMD(0);
        laydate.render({
            elem: '#txtDateTimeArea' //指定元素
            , range: "~"
            , max: 0
            , value: lastDate + " ~ " + curDate
            , done: function (value, date, endDate) {
                console.log(value); //得到日期生成的值，如：2017-08-18
                console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
            }
        });

        var waitIndex = 0;
        $.ajax({
            url: "../api/data/commonMethod?tableName=vw_tree_all",
            dataType: "json",
            beforeSend: function () {
                waitIndex = layer.load(1);
            },
            success: function (dt) {
                layer.close(waitIndex);
                console.log(JSON.stringify(dt));

                var SelTree6 = dtree.renderSelect({
                    elem: "#selectUserTree",
                    width: "100%", // 指定树的宽度
                    initLevel: "4",  //默认展开层级为1
                    data: dt, // 使用data加载
                    selectTips: "请选择筛选条件",
                    dataFormat: "list",  //配置data的风格为list
                    checkbarType: "p-casc",
                    checkbar: true //开启复选框
                });
                dtree.on("chooseDone('selectUserTree')", function (parms) {
                });
            }
        })

        $("#btnSearch").click(function () {
            //layer.msg($("#txtDateTimeArea").val());
            //alert($("#txtDateTimeArea").val());
            var timequjian = $("#txtDateTimeArea").val();
            if (!timequjian) {
                layer.alert("请选择查询时间范围!");
                return;
            }
            var userIdList = getTreeUserIdList();
            if (userIdList == "") {
                layer.alert("请选择筛选条件!");
                return;
            }
            searchDb(timequjian, userIdList);
        })

        var bodyHeight = $("body").height();
        $(".boxall").height((bodyHeight - 50) / 2);


    })

    function getTreeUserIdList() {
        var userIdList = "";
        var param = dtree.getCheckbarNodesParam("selectUserTree");
        if (param.length > 0) {
            $.each(param, function (i, obj) {
                var id = obj["nodeId"].toString();
                if (id.substring(0, 1) == "U") {
                    if (userIdList == "") {
                        userIdList = id.substring(1);
                    }
                    else {
                        userIdList += "," + id.substring(1);
                    }
                }
            })
        }
        return userIdList;
    }
    function searchDb(timeQujian, userIdList) {
        //这里获取信息      
        var passJson = {};
        passJson.timeQujian = timeQujian;
        passJson.userIdList = userIdList;
        ajaxMethodWithWaiting2("../api/webapi_download/getMouseDataList", passJson, function (JsonArray) {
            layer.closeAll();//关闭所有的
            table.render({
                elem: '#mainTable'
                , toolbar: "#toolbarDemo"
                , height: 'full-100'
                , data: JsonArray
                , page: true //开启分页
                , limits: [15, 30, 50, 100]
                , limit: 15 //每页默认显示的数量
                , cols: [gridColumnArray]
            });
        })
    }
</script>
