<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>数据权限管理</title>
    <link href="~/lib/global.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/layui/layui.js"></script>
    <script language="JavaScript" src="~/lib/i18n/jquery.i18n.properties.min.js"></script>
    <script src="~/Scripts/public.js"></script>
    <script src="~/Scripts/jquery.fileDownload.js"></script>
</head>
<body>
    <div class="layui-container" style="background-color:#ffffff;width:inherit;height:inherit">
        <!--这里是配置前面查询条件begin-->
        <blockquote class="layui-elem-quote layui-form searchDivStyle" style="height:35px;">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">权限名称</label>
                    <div class="layui-input-inline-short">
                        <input type="text" name="roleName" placeholder="数据权限名称" autocomplete="off" class="layui-input" op="like" />
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">创建时间(起)</label>
                    <div class="layui-input-inline-short">
                        <input type="text" class="layui-input" name="createDate" placeholder="开始时间" id="beginDt" op="startdatetime">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">创建时间(至)</label>
                    <div class="layui-input-inline-short">
                        <input type="text" class="layui-input" name="createDate" placeholder="结束时间" id="endDt" op="enddatetime">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <div type="button" id="btnSearch" class="layui-btn layui-btn-normal" data-lang="select" onclick="searchDb()">查询</div>
                    </div>
                </div>
            </div>
        </blockquote>
        <!--这里是配置前面查询条件end-->
        <!--这里是配置表格begin-->
        <table id="mainTable" lay-filter="mainTable"></table>
        <!--这里是配置表格end-->
    </div>
</body>
</html>
<!--这里是弹出框的begin-->
<div id="open_1_Div" style="display:none" class="openDivStyle">
    <div class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">权限名称<span class="mustInput">*</span></label>
            <div class="layui-input-block Single">
                <input type="text" maxlength="25" name="roleName" placeholder="数据权限名称" autocomplete="off" class="layui-input " isNeed="1" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序<span class="mustInput">*</span></label>
            <div class="layui-input-block Single">
                <input type="number" name="orderNo"  oninput="if(value.length>8)value=value.slice(0,8)" onkeyup="inputInteger(this.value)" onafterpaste="inputInteger(this.value)"  id="orderNo" placeholder="排序" autocomplete="off" class="layui-input " value="0" isNeed="1" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注说明</label>
            <div class="layui-input-block Single">
                <textarea name="remarks" maxlength="250" placeholder="请输入备注说明" class="layui-textarea"></textarea>
            </div>
        </div>
    </div>
</div>
<!--这里是弹出框的end-->
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" onclick="add()">新增</button>
        <button class="layui-btn layui-btn-warm layui-btn-sm" data-lang="update" onclick="edit()">编辑</button>
        <button class="layui-btn layui-btn-danger layui-btn-sm" onclick="del()">删除</button>
        <button class="layui-btn layui-btn-normal layui-btn-sm" onclick="exportMethod()">导出</button>
    </div>
</script>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", ready);
    function ready() {
        var temp = internationalize(function (result) {
            return result;
        });        
        return { langMaps: langMaps,langObj: langObj};
    }
    var langMaps = ready().langMaps;
    var langObj = ready().langObj;
    var gridColumnArray = [ //表头
        { checkbox: true, field:"",title:"" }
        , { field: 'roleName', title: '权限名称', width: 200 }
        , { field: 'orderNo', title: '排序', width: 80 }
        , { field: 'createDate', title: '创建时间', width: 200 }
        , { field: 'createUserName', title: '创建人', width: 200 }
        , { field: 'remarks', title: '备注', width: 280 }
     ];
     var layer, form, table, $, laydate;
     layui.use(['layer', 'form', 'table', 'laydate'], function () {
         layer = layui.layer;
         form = layui.form;
         table = layui.table;
         $ = layui.$;
         laydate = layui.laydate;
         //这里进行装载数据
         initForm();
    })
     //这里初始化界面
     function initForm() {
         //初始化
         //设定时间
         laydate.render({
             elem: '#beginDt' //指定元素
             //, value: getCurrentAddDayYMD(-7) //必须遵循format参数设定的格式
         });
         laydate.render({
             elem: '#endDt' //指定元素
             //, value: getCurrentAddDayYMD(1) //必须遵循format参数设定的格式
         });
         form.render(); //刷新select选择框渲染
         //这里渲染table
         initGrid();
         window.setTimeout(searchDb, 300);//延迟一下进行装载
     }
    function initGrid() {
        table.render({
            elem: '#mainTable'
            , toolbar: "#toolbarDemo"
            , height: 'full-130'
            , data: []
            , page: true //开启分页
            , cols: [gridColumnArray]
        });
    }
     function searchDb() {
         //这里获取信息
         var divObject = $(".searchDivStyle");
         var searchJsonArray = getJsonListSearchForm(divObject);
         showConsoleLog(searchJsonArray);
         var passJson = {};
         passJson.centerSearchArray = searchJsonArray
         ajaxMethodWithWaiting2("../api/webapi_tree/getDataRoleManger", passJson, function (JsonArray) {
             layer.closeAll();//关闭所有的
             table.render({
                 elem: '#mainTable'
                 , toolbar: "#toolbarDemo"
                 , height: 'full-130'
                 , data: JsonArray
                 , page: true //开启分页
                 , cols: [gridColumnArray]
             });
         })
     }
     function add() {
         //先清空页面
         var divObject = $("#open_1_Div");
         var ctrl_array = getJsonListOpenFormClearObject(divObject);
         if (ctrl_array.length > 0) {
             $.each(ctrl_array, function (i, obj) {
                 $(obj).val("");//进行清空
             })
             form.render("select");
         }
         $("#orderNo").val("1");
         //这里弹出一个页面
         confirmFormWithDivID("新增", "#open_1_Div"
         , function (index, layero) {
             //alert(index);
             var vJsonArray = getJsonListOpenForm(divObject);
             showConsoleLog(vJsonArray);
             if (vJsonArray == undefined || vJsonArray.length <= 0) {
                 showMsg(langMaps.noPageDataObtained)
                 return;
             }
             //循环这个数组， 这里检测一下必输项是否填写
             var msgTishi = langMaps.tips;
             $.each(vJsonArray, function (i, json) { //两个参数，第一个参数表示遍历的数组的下标，第二个参数表示下标对应的值
                 if (json.isNeed == "1" && json.fieldValue == "") {
                     msgTishi += "<br>" + json.placeholder + langMaps.notFilledIn;
                 }
             });
             if (msgTishi != langMaps.tips) {
                 showMsg(msgTishi);
                 return;
             }
             //这里进行提交数据
             var passJson = {};
             $.each(vJsonArray, function (i, json) { //两个参数，第一个参数表示遍历的数组的下标，第二个参数表示下标对应的值
                 passJson[json["fieldName"]] = json["fieldValue"];
             });
             var iWaiting = 0;
             $.ajax({
                 type: "post",
                 url: "../api/webapi_tree/dataRoleAdd",
                 beforeSend: function () {
                     iWaiting=layer.load(1);
                 },
                 data: passJson,
                 success: function (data) {
                     layer.close(iWaiting);//关闭等待的
                     if (data.code == 100) {
                         showMsg(langMaps.addSuccessFully);
                         layer.close(index);
                         searchDb();
                     }
                     else {
                         showMsg(langMaps.addFailed + data.msg);
                     }
                 }
             })
         })
     }
    function edit() {
        var checkStatus = table.checkStatus('mainTable'); //mainTable 即为基础参数 id 对应的值
        var selectedRows = checkStatus.data; //获取选中行的数据
        if (selectedRows.length == 1) {
            //这里进行赋值
            var divObject = $("#open_1_Div");
            var ctrl_array = getJsonListOpenFormClearObject(divObject);
            if (ctrl_array.length > 0) {
                $.each(ctrl_array, function (i, json) {
                    var keyName = json.name;//
                    $(json).val(selectedRows[0][keyName]);
                });
                form.render("select");
            }
            //这里进行
            confirmFormWithDivID(langMaps.update, "#open_1_Div"
                , function (index, layero) {
                    //alert(index);
                    var vJsonArray = getJsonListOpenForm(divObject);
                    if (vJsonArray == undefined || vJsonArray.length <= 0) {
                        showMsg(langMaps.noPageDataObtained)
                        return;
                    }
                    //循环这个数组， 这里检测一下必输项是否填写
                    var msgTishi = langMaps.tips;
                    $.each(vJsonArray, function (i, json) { //两个参数，第一个参数表示遍历的数组的下标，第二个参数表示下标对应的值
                        if (json.isNeed == "1" && json.fieldValue == "") {
                            msgTishi += "<br>" + json.placeholder + langMaps.notFilledIn;
                        }
                    });
                    if (msgTishi != langMaps.tips) {
                        showMsg(msgTishi);
                        return;
                    }
                    //这里进行提交数据
                    var passJson = {};
                    $.each(vJsonArray, function (i, json) { //两个参数，第一个参数表示遍历的数组的下标，第二个参数表示下标对应的值
                        passJson[json["fieldName"]] = json["fieldValue"];
                    });
                    passJson["roleId"] = selectedRows[0]["dataRoleId"];//这里进行添加
                    showConsoleLog(vJsonArray);
                    var iWaiting = 0;
                    $.ajax({
                        type: "post",
                        url: "../api/webapi_tree/roleDataUpdate",
                        beforeSend: function () {
                            iWaiting = layer.load(1);
                        },
                        data: passJson,
                        success: function (data) {
                            layer.close(iWaiting);//关闭等待的
                            if (data.code == 100) {
                                showMsg(langMaps.addSuccessFully);
                                layer.close(index);
                                searchDb();
                            }
                            else {
                                showMsg(langMaps.addFailed + data.msg);
                            }
                        }
                    })
                })
        }
        else {
            showMsg(langMaps.selectRowOperate);
        }
     }
     function del() {
         var checkStatus = table.checkStatus('mainTable'); //mainTable 即为基础参数 id 对应的值
         var selectedRows = checkStatus.data; //获取选中行的数据
         var iRowsLen = selectedRows.length;
         if (iRowsLen> 0) {
             layer.confirm(langObj.prop("deleteRow", iRowsLen), { icon: 3, title: langMaps.tips }, function (index) {
                 //do something
                 var idList = "";
                 $.each(selectedRows, function (i, json) {
                     if (idList) {
                         idList += "," + json["dataRoleId"];
                     }
                     else {
                         idList = json["dataRoleId"];
                     }
                 })
                 var passJson = {};
                 passJson.roleIdList = idList;
                 ajaxMethodWithWaiting2("../api/webapi_tree/dataRoleDel", passJson, function (data) {
                     if (data.code == 100) {
                         showMsg(data.msg);
                         searchDb();
                     }
                     else {
                         showMsg(data.msg);
                     }
                 })
                 layer.close(index);
             });
         }
         else {
             showMsg(langMaps.selectRowOperate);
         }
     }
    function exportMethod() {

        var iRowsLen = $("div[lay-id='mainTable'] .layui-table-body  tr").length
        if (iRowsLen <= 0) {
            showMsg(langMaps.queryBeforeExporting);
            return;
        }
        layer.confirm(langObj.prop("exportRow", iRowsLen), { icon: 3, title: langMaps.queryBeforeExporting }, function (index) {
            layer.close(index);
            var url = "../api/export/publicExport";
            var passJson = {
                keyName: "getDataRoleManger",
                columnArray: gridColumnArray,
                fileName: "数据权限数据导出"
            };
            $.fileDownload(url, {
                httpMethod: 'post',
                data: passJson,
                prepareCallback: function (url) {
                    //alert("正在导出,请稍后...");
                    showMsg(langMaps.loading);
                },
                successCallback: function (url) {
                    console.log(url);
                    showMsg(langMaps.importSucceeded);
                },
                failCallback: function (html, url) {
                    showMsg(html);
                }
            });
        });
     }
</script>
