
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>组织架构树</title>
    <link href="~/lib/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <script src="~/lib/zTree/js/jquery.ztree.core-3.5.min.js"></script>
</head>
<body>
    <div> 
    </div>
</body>
</html>
